@font-face {
   font-family: fonetica;
   src: url(./public/sildipar.ttf);
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
}

h1 > span {
    font-family: fonetica;
    font-size: 60px;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    width: fit-content;
}

main {
    min-width: 100%;
    width: fit-content;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

textarea {
    font-family: fonetica;
    font-size: 40px;
    width: 80vw;
    min-height: 3em;
    resize: vertical;
    padding: 10px;
    background-color: beige;
    border: none;
    border-right: 2px solid black;
    border-left: 2px solid black;

    margin-bottom: 50px;
}

textarea:focus {
    outline: none;
}

table {
    border-collapse: collapse;
    margin-bottom: 50px;
}

table, th, td {
    border: 1px solid black;
    text-align: center
}

th {
    background-color: rgb(220, 220, 80);
}

td {
    min-width: 40px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

.btn {
    font-family: fonetica;
    font-size: 30px;
    border: none;
    background-color: transparent;
    width: 100%;
}

.btn:hover {
    cursor: pointer;
}

.escuro {
    background-color: rgb(222, 222, 150);
}

.outros-simbolos {
    display: flex;
    flex-direction: column;
    align-items: center;
}